rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  
    match /users/{userId} {
      allow read: if true; 
      allow create, update: if request.auth.uid == userId;
    }
    
    match /mudancas/{mudancaId} {
      allow read: if request.auth.uid == resource.data.clienteId || request.auth.uid == resource.data.motoristaId;
      allow create: if request.auth.uid == request.resource.data.clienteId;
      allow update: if request.auth.uid == resource.data.motoristaId || request.auth.uid == resource.data.clienteId;
    }

    // Adicione outras coleções aqui
  }
}